{extend name="index/base"/}
{block name="tdk"} 
{volist name="tdkResult" id="tdk"}
{volist name="titleResult" id="title"}
{if $title.title==null}
<title>{$tdk.title}</title>
{else}
<title>{$title.title}</title>
{/if}
<meta name="description" content="{$title.description}" />
{if $title.keywords==null}
<meta name="keywords" content="{$tdk.keywords}"/>
{else}
<meta name="keywords" content="{$title.keywords}"/>
{/if}
{/volist}
{/volist}
{/block}
{block name="css"} 
<link rel="stylesheet" href="__CSS__/product.css">
{/block}
{block name="content"}
<!--  面包屑导航  -->
<section class="container wow flipInX" data-wow-delay=".1s">
    <ol class="breadcrumb">
        {volist name="tdkResult" id="tdk"}
        <li><a href="/{$tdk.href}.html">{$tdk.name}</a></li>
        {/volist}
        {volist name="proResult" id="pro"}
        <li class="active"><a href="/{$tdk.href}.html">{$pro.name}</a></li>
        {/volist}
        {volist name="mainResult" id="main"}
        {if $main1==$main.name}
        <li class="active">{$main.name}</li>
        {/if}
        {/volist}
    </ol>
</section>
<!--  内容  -->
<section class="product">
    <div class="container">
        <!--  左侧产品拦  -->
        <div class="product-left col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="product-list-title">
                <ul class="list-unstyled clearfix nav nav-pills">
                    <li><a href="../product/product.html">whole</a></li>
                    {volist name="mainResult" id="main"}
                {foreach $arrhome8 as $key=>$value}
                {if $key==$main.id}
                    <li class="{if $main1==$main.name}active{/if}"><a href="/battery/{$value}.html">{$main.name}</a></li>
                {/if}
                {/foreach}
                    {/volist}
                </ul>
                <ul class="list-unstyled clearfix nav nav-pills ">
                    {volist name="viceResult" id="vice"}
                {foreach $arrhome9 as $key=>$value}
                {if $key==$vice.id}
                    <li class="{if $vice1==$vice.name}active{/if}"><a href="/battery1/{$value}.html">{$vice.name}</a></li>
                {/if}
                {/foreach}
                    {/volist}
                </ul>
            </div>
            <div class="row">
                {volist name="productResult" id="product"}
                {foreach $arrhome10 as $key=>$value}
                {if $key==$product.id}
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="item">
                            <a href="/product2/{$value}.html" class="product-list-imgs"><img src="{$product.img}" alt="{$product.titles}"></a>
                            <h4 class="product-title"><a href="/product2/{$value}.html">{$product.name}</a></h4>
                            <p>{$product.editorValue|htmlspecialchars_decode|strip_tags}</p>
                        </div>
                    </div>
                {/if}
                {/foreach}
                {/volist}
            </div>
            <div class="page text-center">
                 {$page}
            </div>
        </div>
       {include file="index/right" /}
    </div>
</section>
{/block}