            <!--  右侧搜索栏  -->
            <div class="right-main col-lg-3 wow fadeInRight col-sm-12 col-xs-12" data-wow-delay=".1s">
                <aside>
                    <section class="widget side-search">
                        <h3 class="title">in-Station</h3>
                        <form class="searchform" name="formsearch" action="/search.html" enctype="multipart/form-data" method="post">
                            <input type="hidden" name="kwtype" value="0">
                            <div class="sform-div">
                                    <input  name="name" type="text"  value='' placeholder="Please enter keywords" id="s"/>
                                    <input type="submit" id="searchsubmit" value="">
                            </div>
                        </form>
                    </section>
                    <section class="widget widget-category side-contact">
                        <h3 class="title">Contact us</h3>
                        {volist name="contactResult" id="contact"}
                        <div class="s-contact">
                            <p>Tel：{$contact.phone}</p>
                            <p>Fax：{$contact.fax}</p>
                            <p>E-mail：{$contact.email}</p>
                            <p>address：{$contact.url}</p>
                        </div>
                        {/volist}
                    </section>
                    <section class="widget side-news">
                        <h3 class="title">Search Hot News</h3>
                        <div class="tabbed">
                            <ul class="widget-list list-unstyled">
                                {volist name="newsrResult" id="newsr"}
                                {foreach $arrhome as $key=>$value}
                                {if $key==$newsr.id}
                                <li>
                                    <figure>
                                        <a href="/newsc/{$value}.html">
                                            <img src="{$newsr.img}" alt="{$newsr.name}">
                                        </a>
                                    </figure>
                                    <div class="sn-wrapper">
                                        <p class="s-desc">
                                            <a href="/newsc/{$value}.html" title="">{$newsr.name}</a>
                                        </p>
                                        <span class="comments">
                                            <i class="iconfont">&#xe60c;</i>{$newsr.update_time|date="M.d.Y",###}
                                        </span>
                                    </div>
                                </li>
                                {/if}
                                {/foreach}
                                {/volist}
                            </ul>
                        </div>
                    </section>
                </aside>
            </div>