{extend name="index/base"/}
{block name="tdk"} 
{volist name="tdkResult" id="tdk"}
{volist name="aboutpResult" id="aboutp"}
{if $aboutp.title==null}
<title>{$tdk.title}</title>
{else}
<title>{$aboutp.title}</title>
{/if}
<meta name="description" content="{$aboutp.description}" />
{if $aboutp.keywords==null}
<meta name="keywords" content="{$tdk.keywords}"/>
{else}
<meta name="keywords" content="{$aboutp.keywords}"/>
{/if}
{/volist}
{/volist}
{/block}
{block name="css"} 
<link rel="stylesheet" href="__CSS__/about.css">
<script src="__JS__/jquery-3.4.1.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/main.js"></script>
<script src="__JS__/wow.min.js"></script>
{/block}
{block name="content"}

<section class="container wow fadeInLeft" data-wow-delay=".1s">
    <ol class="breadcrumb">
        {volist name="tdkResult" id="tdk"}
        <li><a href="/{$tdk.href}.html">{$tdk.name}</a></li>
        {/volist}
        {volist name="aboutpResult" id="aboutp"}
        <li class="active"><a href="/{$aboutp.href}.html">{$aboutp.name}</a></li>
        {/volist}
        {volist name="briefResult" id="brief"}
        <li class="active">{$brief.titles}</li>
        {/volist}
    </ol>
</section>

<section class="main">
    <div class="container">
        <div class="row">
            <div class="left-main col-lg-9 wow bounceInLeft" data-wow-delay=".1s">
                <div class="text-center left-main-top">
                    <ul id="myTab" class="nav nav-pills text-center" role="tablist">
                        {volist name="briefResult" id="brief"}
                        <li class="active"><a href="/about.html" role="tab">{$brief.titles}</a></li>
                        {/volist}
                        {volist name="patentResult" id="patent"}
                        <li><a href="/patent.html" role="tab">{$patent.titles}</a></li>
                        {/volist}
                        {volist name="workshopResult" id="workshop"}
                        <li><a href="/workshop.html" role="tab">{$workshop.titles}</a></li>
                        {/volist}
                    </ul>
                </div>
     
                <div id="myTabContent" class="tab-content">
                        <div class="introduction">
                           {volist name="briefResult" id="brief"}
                           {$brief.editorValue|htmlspecialchars_decode}
                           {/volist}
                        </div>
                </div>
            </div>
         {include file="index/right" /}
        </div>
    </div>
</section>
{/block}
{block name="JS"} 
<script>
    $(function () {
        $('#myTab li').click(function() {
            var i = $(this).index(); 
           
            $(this).addClass('active').siblings().removeClass('active');
            $('#myTabContent>div').eq(i).show().siblings().hide();
        });
        var url =location.href;        
        var typeNum=url.split('?')[1].split("=")[1];     
        $.each($('#myTab li'),function (i) {
            $('#myTab li').eq(typeNum-1).addClass('active').siblings().removeClass('active');    
            $('#myTabContent>div').eq(typeNum-1).show().siblings().hide();  
        });
    });
</script>
{/block}