{extend name="index/base"/}
{block name="tdk"} 
{volist name="tdkResult" id="tdk"}
{volist name="newResult" id="new"}
{if $new.title==null}
<title>{$tdk.title}</title>
{else}
<title>{$new.title}</title>
{/if}
<meta name="description" content="{$new.description}" />
{if $new.keywords==null}
<meta name="keywords" content="{$tdk.keywords}"/>
{else}
<meta name="keywords" content="{$new.keywords}"/>
{/if}
{/volist}
{/volist}
{/block}
{block name="css"}
<link rel="stylesheet" href="__CSS__/news.css">
{/block}
{block name="content"}

<section class="container wow flipInX" data-wow-delay=".1s">
    <ol class="breadcrumb">
        {volist name="tdkResult" id="tdk"}
        <li><a href="/{$tdk.href}.html">{$tdk.name}</a></li>
        {/volist}
        {volist name="newResult" id="new"}
        <li class="active">{$new.name}</li>
        {/volist}
    </ol>
</section>

<section class="news container">
    <div class="row">
        <div class="left-news col-lg-9">
            <div class="news-list-title">
                <ul class="list-unstyled clearfix nav nav-pills ">
                    <li class="{if $name==null}active{/if}"><a href="/news.html">whole</a></li>
                    {volist name="newsResult" id="news"}
                {foreach $arrhome4 as $key=>$value}
                {if $key==$news.id}
                    <li class="{if $news.name==$name}active{/if}"><a href="/newsa/{$value}.html">{$news.name}</a></li>
                {/if}
                {/foreach}
                    {/volist}
                </ul>
            </div>
            {volist name="newsaResult" id="newsa"}
                {foreach $arrhome5 as $key=>$value}
                {if $key==$newsa.id}
            <div class="media">
                <div class="media-left">
                    <a href="/newsc/{$value}.html">
                        <img class="media-object" alt="{$newsa.name}" src="{$newsa.img}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href="/newsc/{$value}.html">{$newsa.name}</a></h4>
                    <p>{$newsa.editorValue|htmlspecialchars_decode|strip_tags}</p>
                </div>
            </div>
                {/if}
                {/foreach}
            {/volist}
            <div class="page text-center">
                 {$page}
            </div>
        </div>
     {include file="index/right" /}
    </div>
</section>
{/block}